
#moneyIcon { 
   float: left;
   text-align: left;
}
#moneyCounter{
   font-size: 30pt;
   margin-left: 5px;
}
#coin {
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%,-50%);
}
#evoImg{
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%,-50%);
}
   
.buttons {
   border: 2px solid black;
   border-radius: 20px;
   color:black;
   /*clear: both;*/
   margin-bottom: 5px;
   background-color: red;
   /*width:40%;*/
   padding: 5px;
   float:left;
   position:absolute;
}  





